header{
    text-align: center;
    background-color: #A1907C;
    height:100%;
    width:100%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: center;
}

h1{
    color:#212526;
}

body{
    background-color: #EDEAE6;
}

main{
    display:flex;
    height:80vh;
}

#search{
    background-color: #EDEAE6;
    flex-grow: .5;
    height:100%;
}

#cityF{
    margin-left:5%;
    color:#212526;
}

#searchArea{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:4vh;
    font-size:20px
}

#searchBtn{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:3.5vh;
}

#oldSearch{
    width:100%;
    background-color: grey;
}

#display{
    background-color: #EDEAE6;
    flex-grow: 4;
    display:flex;
    flex-wrap:wrap;
}

#curSearch{
    padding-left: 3%;
    width:100%;
    height:40%;
    /* border: 2px black;
    border-style:solid; */
}

.curP{
    color:black;
}

/* #fiveDay{
    display:none;
    padding-left: 3%;
    width:100%;
    height:60%;
    padding-right:3%;
    flex-wrap: wrap;
} */

#cardSpace{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    background-color: #A1907C;
    width:15%;
    padding-left:2%;
}